<div id="main-nav" class="row">
    <div class="col-md-1 main-nav-element"></div>
    <div class="col-md-2 main-nav-element"><a href="#/">Andrew & Ash</a></div>
    <div class="col-md-2 main-nav-element"><a href="#/party">The Party</a></div>
    <div class="col-md-2 main-nav-element"><a href="#/people">The People</a></div>
    <div class="col-md-2 main-nav-element"><a href="#/gifts">The Gifts</a></div>
    <div class="col-md-2 main-nav-element"><a href="#/contact">Contact</a></div>
    <div class="col-md-1 main-nav-element"></div>
</div>